{% extends 'base.html' %}
{% load static %}
{% block head%}

<link rel="stylesheet" />

{% endblock %}
{% block content %}

<section class="page-header">
    <h2>Artists</h2>
</section>

<section class="card-container">
    {% for artist in artist_list %}
        <div class="card">
            <a href="{% url 'artist-detail' artist.id %}">
                <div class="card-content">
                    <div class="card-img-container">
                        <img
                            src="{% static 'images/artists/' %}{{ artist.img }}"
                            alt="{{artist.name}}"
                        />
                    </div>
                    <h3 class="card-title">{{ artist.name }}</h3>
                </div>
            </a>
        </div>
    {% endfor %}
</section>

{% endblock %}